@use "../variables" as *;

$popup-border-radius: 8px;
$popup-border-thickness: 3px;
$popup-border: $popup-border-thickness black solid;

@keyframes popupEnter{
    0%{
        transform: perspective(1700px) rotateY(60deg) scaleX(0);
    }
    20%{
        transform: perspective(1700px) rotateY(60deg) scaleX(1);
    }
    60%{
        transform: perspective(1700px) rotateY(-8deg);
    }
    100%{
        transform: perspective(1700px) rotateY(0);
    }
}

@keyframes popupExit{
    60%{
        transform: perspective(1700px) rotateY(60deg);
    }
    100%{
        transform: perspective(1700px) rotateY(60deg) scaleX(0);
    }
}

::view-transition-old(map-popup),
::view-transition-new(map-popup){
    transform-origin: 100% 50%;
    backface-visibility: hidden;
    mix-blend-mode: normal;
}
::view-transition-new(map-popup){
    animation: popupEnter .4s ease-out forwards;
}
::view-transition-old(map-popup){
    animation: popupExit .4s ease-in forwards;
}

#popup_main{
    @include popup-base;
    .window-inner{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header" "content";
        view-transition-name: map-popup;
        color: white;
        transform-origin: 100% 50%;
        backface-visibility: hidden;
        mix-blend-mode: normal;
        overflow: hidden;
        &.close{
            animation: popupExit .4s ease-in forwards;
        }
        #close{
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 2px;
            z-index: 10;
            padding: 1px 4px;
            background-color: white;
            color: black;
            font-weight: bold;
            border-radius: 5px;
        }
        header.header-main{
            display: flex;
            justify-content: space-around;
            grid-area: header;
            .tab-lineup,.tab-place-details{
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110%;
                text-align: center;
                flex: 1 1 50%;
                box-sizing: border-box;
                padding: 10px;
                background-color: #191221;
                background-image: 
                    linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%),
                    linear-gradient(315deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
                background-blend-mode: overlay, multiply;
                transition: background-color .2s;
                h3{
                    font-size: 22px;
                    margin: 0;
                }

                &.active{
                    cursor: default;
                    background-color: #644884;
                    text-shadow: 1px 1px pink;
                    box-shadow: 
                        inset -4px -4px 4px 0px rgba(0, 0, 0, 0.3),
                        inset 3px 3px 2px 0px rgba(0, 0, 0, 0.3),;
                    border-bottom: 2px black solid;
                    z-index: 5;
                }
            }
            .tab-lineup{
                border-right: 2px black solid;
                border-top-left-radius: calc($popup-border-radius - $popup-border-thickness);
                &.active{
                    border-bottom-right-radius: calc($popup-border-radius - $popup-border-thickness);
                }
            }
            .tab-place-details::after {
                content: "";
                position: absolute;
                left: -10px;
                background-color: #191221;
                width: 10px;
                height: 10px;
                bottom: 0;
                z-index: 0;
            }
            .tab-place-details.active::after{
                opacity: 0;
            }
            .tab-place-details{
                border-bottom-right-radius: calc($popup-border-radius - $popup-border-thickness);
                span{font-size: 14px;}
            }
        }
        .content{
            grid-area: content;
            color: white;
            overflow-y: hidden;
            display: flex;
            width: 200%;
            transition: transform .2s ease-out;
            &.show-lineup{
                transform: translateX(0);
            }
            &.show-place{
                transform: translateX(-50%);
            }
            .content-lineup,.content-place-details{
                overflow-y: scroll;
                flex: 0 0 50%;
            }
            .content-lineup{
                a.card-event{
                    display: block;
                    margin: 15px;
                    border: 3px black solid;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
                    border-radius: $popup-border-radius;
                    background-color: #644884;
                    color: white;
                    text-decoration: none;
                    header.header-card{
                        padding: 20px;
                        background-color: black;
                        h3{
                            margin-top: 0;
                            margin-bottom: 4px;
                            @include text-link;
                        }
                        .when{
                            color: white;
                            .date,.time{
                                display: flex;
                                gap: 3px;
                                img{width: 20px;}
                                p{margin: 4px 0;}
                            }
                        }
                    }
                    .img-wrapper{
                        padding: 20px;
                        padding-bottom: 0;
                        img{width: 100%;}
                    }
                    .description{
                        padding: 0 20px;
                    }
                }
            }
            .content-place-details{
                padding-bottom: 100px;
                header.header-place{
                    margin: 0 15px;
                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .location,.insta{
                            @include text-link-button;
                            display: flex;
                            align-items: center;
                            // padding: 0;
                            img{width: 40px;}
                        }
                    }
                    .img-wrapper{
                        padding: 20px 0;
                        img{width: 100%;}
                    }
                }
            }
        }
    }
}