@mixin text-link-header{
    color: white;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-decoration-color: hotpink;
    text-decoration-thickness: 2px;
}