@use "variables" as *;

.filter-window{
    @include window-base;
    // display: none;
    .window-inner{
        transform-origin: top center;
        transform: 
            perspective(800px)
            rotateX(50deg)
            scaleY(.5);
        clip-path: polygon(345px 0, 365px 0, 70% 100%, 30% 100%);
    }
}

.filter-button-container{
    position: relative;
    .filter-when-arrow{
        position: absolute;
        bottom: -25px;
        right: 30px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        // display: none;
    }
}