@use "../../variables/" as *;
@use "variables" as *;

header.header-map{
    position: absolute;
    z-index: $navigation;
    top: 0;
    left: 0;
    right: 0;
    height: $height-header-main;

    background: $color-bg-header;
    color: $color-fg-header;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 1px 1px #000b;

    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;

    nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        a{@include text-link-header;}
    }
    .filters{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        .filter-callout{
            height: 16px;
            @media(max-width: $screen-map-break-header){
                height: 25px;
                cursor: pointer;
            }
        }
        .button-wrap{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            button{@include button-main;}
            @media(max-width: $screen-map-break-header){
                display: none;
            }
        }
    }
}