@use "variables" as *;
@use "../../variables" as *;

$popup-border-radius: 8px;
$popup-border: 3px black solid;

@keyframes popupEnter{
    0%{
        transform: perspective(1700px) rotateY(60deg) scaleX(0);
    }
    20%{
        transform: perspective(1700px) rotateY(60deg) scaleX(1);
    }
    60%{
        transform: perspective(1700px) rotateY(-8deg);
    }
    100%{
        transform: perspective(1700px) rotateY(0);
    }
}

@keyframes popupExit{
    60%{
        transform: rotateY(60deg);
    }
    100%{
        transform: rotateY(60deg) scaleX(0);
    }
}

::view-transition-old(map-popup),
::view-transition-new(map-popup){
    transform-origin: 100% 50%;
    backface-visibility: hidden;
    mix-blend-mode: normal; 
}
::view-transition-new(map-popup){
    animation: popupEnter .4s ease-out forwards;
}
::view-transition-old(map-popup){
    animation: popupExit .4s ease-in forwards;
}

#popup_main{
    // perspective: 1700px;
    @include window-base;
    .window-inner{
        // transform-origin: 100% 50%;
        // transform-style: preserve-3d;
        // backface-visibility: hidden;
        view-transition-name: map-popup;
        // transform: rotateY(60deg) scaleX(0);
        // &.open{
        //     animation: popupEnter .4s ease-out forwards;
        // }
        // &.close{
        //     animation: popupExit .4s ease-in forwards;
        // }
        header{
            display: flex;
            justify-content: space-around;
            .tab-lineup,.tab-place-details{
                position: relative;
                width: 110%;
                color: white;
                text-align: center;
                flex: 1 1 50%;
                // border-bottom: $popup-border;
                box-sizing: border-box;
                background-color: #191221;
                background-image: 
                    /* 1. Top left highlight (Light source) */
                    linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%),
                    /* 2. Bottom right shadow (Depth) */
                    linear-gradient(315deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
                /* Blend properly for a natural 3D gloss */
                background-blend-mode: overlay, multiply;
                &.active{
                    background-color: #4b3663;
                    border-bottom: 2px black solid;
                    z-index: 5
                }
            }
            .tab-lineup{
                border-right: 2px black solid;
                &.active{
                    border-bottom-right-radius: $popup-border-radius;;
                }
            }
            .tab-place-details::after {
                content: "";
                position: absolute;
                left: -10px;
                background-color: #191221;
                width: 10px;
                height: 10px;
                bottom: 0;
                z-index: 0;
            }
        }
    }
    // display: none;
}